/* Global Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-title {
  font-size: 2em;
}

.call-to-action {
  padding: 1.5rem 5rem;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
  line-height: 1.222222222222222;
  margin-bottom: 1.5em;
}

.select-category {
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: auto;
}

footer .copyright {
  font-size: 0.85em;
}
